{% extends "dashboard.html" %}

{% block title %} Panel de control {% endblock %}

{% block content %}

<h1>
Panel de control principal
</h1>

<h3>
Opciones para experimentos:
</h3>
<ul class="button-group [radius round]">
  <li><a href="dashboard/list/experiment" class="button">Listar experimento</a></li>
  <li><a href="dashboard/create/experiment" class="button">Crear nuevo experimento</a></li>
</ul>


<h3>
Opcioes usuario
<ul class="button-group [radius round]">
  <li><a href="dashboard/list/user" class="button">Listar usuarios</a></li>
  <li><a href="dashboard/invite/user" class="button">Invitar nuevo usuario</a></li>
  <li><a href="dashboard/create/user" class="button">Crear usuario</a></li>
</ul>


{%endblock%}


