{% extends "dashboard.html" %}

{% block title %} Panel de control {% endblock %}

{% block content %}

<h1>
Panel de control principal
</h1>

<h3>
Opciones para experimentos:
</h3>
<ul class="button-group [radius round]">
  <li><a href="{{url_for('.experiment_list')}}" class="button">Listar</a></li>
  <li><a href="{{url_for('.experiment_new')}}" class="button">Crear nuevo</a></li>
</ul>


<h3>
Opcioes usuario
<ul class="button-group [radius round]">
  <li><a href="{{url_for('.user_list')}}" class="button">Listar</a></li>
  <li><a href="{{url_for('.user_invite')}}" class="button">Invitar</a></li>
  <li><a href="{{url_for('.user_new')}}" class="button">Crea</a></li>
</ul>


{%endblock%}


