{% extends "default.html" %}

{% block title %}Dashboard: Experimentos Golem{% endblock %}

{% block content %}

<h1>
¡Bienvenido!
</h1>
{% if projs %}
<p>
Los sisguientes son los experimentos en los que desamos que nos apoyes, puedes escojer declinar la invitación o contestarlos.
</p>
<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		{% for proj in projs %}
			<td>{{proj.name}}</td>
			<td><a href="{{url_for('.delete',expid=loop.index)}}" class="button tiny alert">Declinar</a>
				<a href="{{url_for('.poll',expid=proj.id)}}" class="button tiny">Contestar</a>
			</td>
		{% endfor %}
		</tr>
	</tbody>
</table>
{% else %}
<p>
¡Muchas gracias! En este momento no tenemos un experimento para ti.
</p>
{% endif  %}

{%endblock%}


