{% extends "dashboard.html" %}

{% block scripts %}
<script src="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.js"></script>
<link data-require="ng-table@*" data-semver="0.3.1" rel="stylesheet" href="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.css" />
{% endblock %}

{% block title %}Lista de usuarios {% endblock %}

{% block content %}

<h1>
Usuarios
</h1>

<table ng-controller="UserListCtrl" ng-table="tableParams" class="table">
	<tr ng-repeat="user in users">
			<td data-title="'Confirmed'">
			    {% raw %}
                {{user.confirmed | checkmark  }}
			    {% endraw %}
            </td>
            <td data-title="'Correo'" sortable="'name'">
				<a href="/dashboard/info/user/{{user.userid | angular}}">
                {{user.email | angular}}
				</a>
            </td> 
            <td data-title="'Edad'" sortable="'age'">
                {{user.age | angular }}
            </td> 
  			<td data-title="'Invite'">
				<a href="/dashboard/invite/{{user.userid | angular}}" class="button tiny">Yes
				</a>
            </td>
	
	</tr>
</table>

{%endblock%}


