{% extends "dashboard.html" %}

{% block title %}Dashboard: Información de usuario - {% endblock %}

{% block content %}

<h1>
Experimento, prueba
</h1>

<p>
	Nombre      : {{ user.email }}       </br>
	Confirmed   : {{ user.confirmed }} </br>
	Accepted    : {{ user.accepted }}
</p>

<table ng-controller="ExperimentUserListCtrl" userid="{{user.id}}" ng-table="tableParams" class="table">
	<tr ng-repeat="exp in exps | filter:query">
			<td data-title="'Accepted'">
			    {% raw %}
                {{exp.accepted | checkmark  }}
			    {% endraw %}
            </td>
            <td data-title="'Project'" sortable="'project'">
                {{exp.proj_id | angular }}
            </td> 
			<td data-title="'Actions'">
				<a href="/dashboard/info/experiment/{{exp.id_exp | angular}}" class="button tiny">info</a>
            </td>
			<td data-title="'Finished'">
			    {% raw %}
                {{exp.finish | checkmark  }}
			    {% endraw %}
            </td>

	</tr>
</table>




{%endblock%}

