{% extends "dashboard.html" %}

{% block scripts %}
<script src="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.js"></script>
<link data-require="ng-table@*" data-semver="0.3.1" rel="stylesheet" href="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.css" />
{% endblock %}

{% block title %}Lista de usuarios {% endblock %}

{% block content %}

<h1>
Usuarios
</h1>
<div class="row">
    <div class="large-6 columns">
	<label>Filtrar:</label> <input  type="text" placeholder="Inserta palabras clave"  ng-model="query"/>
	</div>
</div>

<table ng-controller="UserListCtrl" ng-table="tableParams" class="table">
	<tr ng-repeat="user in users | filter:query">
	{{ users | angular }}
			<td data-title="'Confirmed'">
			    {% raw %}
                {{user.confirmed | checkmark  }}
			    {% endraw %}
            </td>
 			<td data-title="'e-mail'" sortable="'email'">
                {{user.email | angular }}
            </td> 
 
            <td data-title="'Genero'" sortable="'gender'">
                {{user.gender | angular }}
            </td> 
            <td data-title="'Edad'" sortable="'age'">
				{% raw %}
                {{current_year-user.year_birthday }}
				{% endraw %}
            </td> 
			<td data-title="'Actions'">
				<a href="{{url_for('.user_info')}}/{{user.userid | angular}}" class="button tiny">info</a>
				<a class="modal-confirm button tiny alert" data-title="Confirmación para borrar proyecto" data-content="¿Estás seguro de querer borrar el usuario: {{exp.mail| angular}}?" data-options='{"confirmType" : "url" , "confirmArgs" : "{{url_for('.user_delete',expid=None)}}/{{user.id | angular}}","confirmText":"Sí", "cancelText":"No","color":"#000"}' >Borrar</a>

            </td>
  			<td data-title="'Invite'">
				<a href="{{url_for('.user_invite')}}/{{user.userid | angular}}" class="button tiny">Yes</a>
            </td>
	</tr>
</table>

{%endblock%}


