{% extends "dashboard.html" %}

{% block title %}Dashboard: Información de usuario - {% endblock %}

{% block content %}
<h1>
Usuario
</h1>


<b>
Correo
</b>
<div class="panel">
	{{ user.email }} 
</div>
<b>
Número de experimentos invitado a contestar
</b>
<div class="panel">
	{{ user.experiments | length }} 
</div>
<b>
Confirmado y estado
</b>
<div class="panel">
{{ user.confirmed }} | {{ user.accepted }}
</div>

<table ng-controller="ExperimentUserListCtrl" userid="{{user.id}}" ng-table="tableParams" class="table">
	<tr ng-repeat="exp in exps | filter:query">
			<td data-title="'Acceptó'">
			    {% raw %}
                {{exp.accepted | checkmark  }}
			    {% endraw %}
            </td>
            <td data-title="'Projecto'" sortable="'name'">
                {{exp.name | angular }}
            </td> 
			<td data-title="'Acciones'">
				<a href="/dashboard/info/experiment/{{exp.id | angular}}" class="button tiny">info</a>
            </td>
			<td data-title="'Realizado'">
			    {% raw %}
                {{exp.finish | checkmark  }}
			    {% endraw %}
            </td>

	</tr>
</table>




{%endblock%}

