{% extends "dashboard.html" %}

{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% block title %}Dashboard: Información extra de usuario - {% endblock %}

{% block content %}

<h1>
Información extra de usuario
</h1>

<form action="{{url_for('.user_confirmation',userid=userid)}}" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ render_field(form.year_birthday)}}
    {{ render_field(form.gender) }}
    {{ render_field(form.level) }}
	{{ render_field(form.previous)}}
	{{ form.save() }} {{form.cancel()}} 
</form>

<p>Datos marcados con * necesarios</p>
{%endblock%}


